/*----------------------------------------------------------
					Login Page
-----------------------------------------------------------*/
.login{
	border:0px black solid;
	height:40%;
	width:40%;
	margin:5% 0 0 30%;
	border-radius:50px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	display:block;
	padding: 15px;
}

.logo{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	/*float:left;*/
	margin: 0 0 5% 0;
	height:80%;
	width:80%;
}

/*--------------------------------------------
			Other
---------------------------------------------*/
.error{
	color: #FF0000;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

/*------------------------------------------
			Circle
---------------------------------------------*/
.circle {
	border-radius: 50%;
	width: 120%;
	height: 120%; 
	background-color:#00FF00;
}


.circle-btn{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.42;
	border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#advanced {
	width: 200px;
	height: 200px;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	
	animation-name: spin; 
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}
 
/*------------------------------
			Table
------------------------------*/
table .po-tbody tr td{
	border-top:0;
}

table .po-tfoot tr:first-child{
	border-top:solid 1px #ddd;
}

table .po-tfoot tr td:nth-child(n+1):nth-child(-n+3){
	border-top:0;
}

table .po-tfoot tr td:nth-child(3){
	text-align:right;
}

table .po-tfoot tr td:nth-child(4){
	border-left:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
}

table .po-tfoot tr td:nth-child(5){
	border-right:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	text-align:right;
}


table .po-tbody,table tfoot{
	width:100%;
	height:auto;
	min-height:200px !important;
}
/*------------------------------
			Test
------------------------------*/

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
/*.navbar {
	margin-bottom: 0px;
	border-radius: 0;
}
		
/* Remove the jumbotron's default bottom margin */ 
/*.jumbotron {
	margin-bottom: 0;
	background-color:#DCDCDC;
}
		
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*.row.content 
{
	height:600px;
}
		
/* Set aliceblue background color and 100% height */
/*.sidenav
{
	padding-top: 10px;
	background-color: #F0F8FF;
	height: 100%;
}
		
	   
/* Add a grey background color and some padding to the footer */
/*footer {
	background-color:#808080;
	padding: 25px;
}*/

/* sortable */
table.sortable{border:1px solid #ddd;}
	table.sortable thead th{cursor: pointer;position:relative;top:0;left:0;border-right:1px solid #ddd;}
	table.sortable thead th:hover{background:#efefef;}
	table.sortable span.arrow{border-style:solid;border-width:5px;
	display:block;position:absolute;top:50%;right:5px;font-size:0;
	border-color:#ccc transparent transparent transparent;
	line-height:0;height:0;width:0;margin-top:-2px;}
	table.sortable span.arrow.up{border-color:transparent transparent #ccc transparent;margin-top:-7px;}
	

	
/*----------------------------------
		NAVIGATION
-----------------------------------*/
.navigation {
  display: block;
  margin: 0 0;
  background: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}
.navigation ul .right{
	float:right;
	font-size: 17px;
}
.navigation li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 17px;
  /*color: #def1f0;*/
  color: #D8D8D8;
}

.navigation li a {
	text-decoration: none;
	padding: 10px 15px;
	font-size: 17px;
	/*color: #777;*/
	color: #D8D8D8;
	display: inline-block;
	outline: 0;
	font-weight: 400;
}

.navigation li:hover ul.dropdown { 
	display: block;
}

.navigation li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #A4A4A4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
}

.navigation li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.navigation li ul.dropdown li a {
  padding: 10px;
  font-size: 15px;
  color: #fff;
  display: block;
  border-bottom: 1px solid #A4A4A4;
  font-weight: 400;
}

.navigation li ul.dropdown li:last-child a { border-bottom: none; }

.navigation li:hover a {
	transition:0.5s;
	background: #A4A4A4;
	color: #fff !important;
}

/*.navigation li:first-child:hover a { border-radius: 3px 0 0 3px; }*/

.navigation li ul.dropdown li:hover a { background: #424242; }

.navigation li ul.dropdown li:first-child:hover a { border-radius: 0; }

.navigation li:hover .arrow-down { border-top: 5px solid #fff; }

/*.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
  content: '';
}*/

/*---------------------------------
		style for mobile
----------------------------------*/
 /*@media only screen and (max-width:767px) {*/
 @media only screen and (max-width:1320px) {
	.navigation ul .left{
		float:left !important;
		font-size: 17px;
	}
.navigation {
  background: #fff;
  width: 200px;
  height: 100%;
  display: block;
  position: fixed;
  left: -200px;
  top: 0px;
  transition: left 0.3s linear;
  margin: 0;
  border: 0;
  border-radius: 0;
  /*overflow-y: auto;*/
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

.medianav{
	display: none;
	/*display: block;*/
	color: #505050;
	font-weight: 500;
}

.navigation.visible {
  left: 0px;
  transition: left 0.3s linear;
}

.nav_bg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  padding: 12px 0 0 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.nav_bar {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  cursor: pointer;
  margin: 0;
}

.nav_bar span {
  height: 2px;
  background: #fff;
  margin: 5px;
  display: block;
  width: 20px;
}

.nav_bar span:nth-child(2) { width: 20px; }

.nav_bar span:nth-child(3) { width: 20px; }

.navigation ul { padding-top: 50px; }

.navigation li { display: block; }

.navigation li a {
  display: block;
  color: #505050;
  font-weight: 500;
}

.navigation li:first-child:hover a { border-radius: 0; }

.navigation li ul.dropdown { position: relative; }

.navigation li ul.dropdown li a {
  background: #A4A4A4 !important;
  border-bottom: none;
  color: #fff !important;
}

.navigation li:hover a {
  background: #A4A4A4;
  color: #fff !important;
}

.navigation li ul.dropdown li:hover a {
  background: #424242 !important;
  color: #fff !important;
}

.navigation li ul.dropdown li a { padding: 10px 10px 10px 30px; }

.navigation li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  border-top: 5px solid #505050;
  position: absolute;
  top: 20px;
  right: 10px;
}

.opacity {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
}

/*---------------------------------
	TABS
-----------------------------------*/
ul.tabs{
margin:10px 0 -1px 0;
padding:0;
width:100%;
border-bottom:1px solid #e5e5e5;
float:left;
font-size:0;
}

	ul.tabs.left{text-align:left;}
	ul.tabs.center{text-align:center;}
	ul.tabs.right{text-align:right;}
	ul.tabs.right li{margin:0 0 0 -2px;}

	ul.tabs li{
	font-size:14px;
	list-style-type:none;
	margin:0 -2px 0 0;
	padding:0;
	display:inline-block;
	*display:inline;/*IE ONLY*/
	position:relative;
	top:0;
	left:0;
	*top:1px;/*IE 7 ONLY*/
	zoom:1;
	}

	ul.tabs li a{
	text-decoration:none;
	color:#666;
	display:inline-block;
	padding:9px 15px;
	position: relative;
	top:0;
	left:0;
	line-height:100%;
	background:#f5f5f5;
	-webkit-box-shadow: inset 0 -3px 3px rgba(0,0,0,0.03);
	-moz-box-shadow: inset 0 -3px 3px rgba(0,0,0,0.03);
	box-shadow: inset 0 -3px 3px rgba(0,0,0,0.03);
	border:1px solid #e5e5e5;
	border-bottom:0;
	font-size:0.9em;
	zoom:1;
	}

	ul.tabs li a:hover{
	background:#fff;
	}

	ul.tabs li.current a{
	position:relative;
	top:1px;
	left:0;
	background:#fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color:#222;
	}

	.tab-content{
	border:1px solid #efefef;
	border:1px solid #e5e5e5;
	background:#fff;
	clear:both;
	padding:20px;
	margin:0 0 40px 0;
	}
	
/*-------------------------------
			Buttons  
------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/*-------------------------------
			Buttons  
------------------------------- */
.adjusttd td{
	vertical-align:top;
	padding-top:1px;
}

/*-------------------------------
			Po   
------------------------------- */
.viewpo p{
	margin:0 0 -1px;
}

.left-half {
	/*background-color: #ff9e2c;
	position: absolute;*/
	float:left;
	width: 50%;
}

.right-half {
	/*background-color: #b6701e;
	position: absolute;*/
	float:right;
	width: 50%;
}

.left-half table,.right-half table{
	font-weight:500;
}

/*-------------------------------
			Print  
------------------------------- */
@media print{
	*{
		font-size:12px;
	}
	
	#navbar{
		display:none;
	}
	
	.print{
		display:none;
	}
	
	.panel-default {
		border: none;
	}
	
	.panel-body{
		margin-right:21px !important;
	}
	
	#datatable{
		width:100% !important;
		overflow-x:hidden !important;
	}
	
	#datatable thead{
		border-top:1px black solid !important;
		border-bottom:1px black solid !important;
	}

	table thead tr th:nth-child(n+1):nth-child(-n+6){
		border-bottom:solid 1px black !important;
	}
	
	table .po-tfoot tr:first-child{
		border-top:solid 1px black !important;
	}

	table .po-tfoot tr td:nth-child(n+1):nth-child(-n+6){
		border-top:0;
	}

	table .po-tfoot tr td:nth-child(3){
		text-align:right;
	}

	table .po-tfoot tr td:nth-child(4){
		border-left:solid 1px black !important;
		border-bottom:solid 1px black !important;
	}

	table .po-tfoot tr td:nth-child(5){
		border-right:solid 1px black !important;
		border-bottom:solid 1px black !important;
		text-align:right;
	}

	.table-responsive{
		width:100% !important;
		overflow-x:hidden !important;
	}
	
	.printsize{
		float:left;
		margin:0 0 0 5% !important;
	}
	
	
	#footer-sec{
		display:none;
	}
}